<div class="container">
  <div >
    <p>ClothesGroup is a family of brands and businesses, making it possible for customers around the world to express themselves through fashion and design, and to choose a more sustainable lifestyle. We create value for people and society in general by delivering our customer offering and by developing with a focus on sustainable and profitable growth.</p>
  </div>
  <div class="col">
    <img  src="assets/img/logo.png" alt="logo"  class="img-thumbnail" >
  </div>
</div>
