/* Contenedor principal */
.container {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilo para párrafos */
p {
  font-style: italic;
  margin-top: 0;

}

/* Estilo para imágenes */
img {
  margin: 5px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.8s;
  &:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 767.98px) {
  .container {

    padding: 10px;
  }
}
