<div class="container">
  <div>
    <h1>About us</h1>
    <p>
      Inditex is one of the world's leading fashion retailers, with eight commercial formats - Zara, Pull & Bear,
      Massimo Dutti, Bershka, Stradivarius, Oysho, Zara Home, and Uterqüe - which have 5,618 stores in 84 markets.

      The Inditex Group is a family of brands and businesses, making it possible for customers around the world to
      express themselves through fashion and design, and to choose a more sustainable lifestyle. We create value for
      people and society in general by delivering our customer offering and by developing with a focus on sustainable
      and profitable growth.</p>
  </div>
  <div class="row-cols-5">
    <img src="assets/img/logo.png" alt="logo" class="img-thumbnail">
    <img src="assets/img/logoZara.png" alt="logo" class="img-thumbnail">
    <img src="assets/img/logoPull.png" alt="logo" class="img-thumbnail">
    <img src="assets/img/logoBers.png" alt="logo" class="img-thumbnail">
    <img src="assets/img/logoMas.png" alt="logo" class="img-thumbnail">
  </div>
</div>
