<div class="main-container ">
  <div class="form-section custom-width">

    <div class="form-group ">
      <label>Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="c.name" id="name" placeholder="Escriba su nombre" required>

      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="c.email" id="email" placeholder="Escriba su email" required>

      <textarea class="form-control" [(ngModel)]="c.contact" id="contact" name="textarea" rows="10" cols="50"
        placeholder="Escribe tu consulta" required></textarea>

    </div>
    <button class="btn btn-outline-info btn-sm" type="submit" (click)="insert()">Enviar</button>

    <div class="card " *ngFor="let contact of contact">

      <div class="card-user">
        <img src="assets/img/logo.png">
        <h1 class="card-title "> {{contact.name}} </h1>
      </div>
      <div class="card-body">
        <p class="card-text">{{contact.email}}</p>
        <p class="card-text">{{contact.contact}}</p>

      </div>
      <button class="btn btn-danger btn-sm" (click)="remove(contact)">X</button>
    </div>

  </div>
