<div class="container-fluid">
  <h1>Carrito de compras</h1>
  <table class="table">
    <thead>
      <tr>
        <th >Item</th>
        <th >Cantidad</th>
        <th >Precio Unitario</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let clothe of clothes" [ngClass]="{'sale' : clothe.sale}">
        <td >{{clothe.name}}</td>
        <td >1</td>
        <td >{{clothe.price|currency: 'ARS'}}</td>
      </tr>
    </tbody>

    <tfoot>
      <th >Total productos</th>
      <td></td>
      <td>{{total | currency:'ARS'}}</td>
    </tfoot>
  </table>

  <div class="text-end">
    <button class="btn btn-primary" >Comprar</button>
  </div>
</div>
