.table>thead>tr>th {
  border-bottom: 2px solid rgb(38, 163, 205);
}
.table>tbody>tr>td>img{
  width: 15em;
  height: 15em;
}
.sale{
  border:2px solid green;
  background: rgb(82, 160, 82);
}
td{
  vertical-align:middle;
}

