<table class="table">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img [src]="clothesSantorini.image" [alt]="clothesSantorini.name"></td>
      <td>{{clothesSantorini.name}} </td>
      <td>{{clothesSantorini.type}}</td>
      <td>{{clothesSantorini.price}}</td>
      <td>{{clothesSantorini.stock}}</td>
    </tr>
    <tr>
      <td><img [src]="clothesCreta.image" [alt]="clothesCreta.name"></td>
      <td>{{clothesCreta.name}}</td>
      <td>{{clothesCreta.type}}</td>
      <td>{{clothesCreta.price}}</td>
      <td>{{clothesCreta.stock}}</td>
    </tr>
    <tr>
      <td><img [src]="clothesHvar.image" [alt]="clothesHvar.name"></td>
      <td>{{clothesHvar.name}}</td>
      <td>{{clothesHvar.type}}</td>
      <td>{{clothesHvar.price}}</td>
      <td>{{clothesHvar.stock}}</td>
    </tr>

  </tbody>

</table>
