<table class="table">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img [src]="clothes.image" [alt]="clothes.name"></td>
      <td>{{clothes.name}} </td>
      <td>{{clothes.type}}</td>
      <td>{{clothes.price}}</td>
      <td>{{clothes.stock}}</td>
    </tr>
    <tr>
      <td>W's Creta Island</td>
      <td>Pantalon</td>
      <td>35000</td>
      <td>5</td>
    </tr>
    <tr>
      <td>W's Hvar Logo Hat</td>
      <td>Gorra</td>
      <td>12500</td>
      <td>10</td>
    </tr>
  </tbody>

</table>
