<table class="table">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clothe of clothes" [ngClass]="{'sale' : clothe.sale}">
      <td><img [src]="clothe.image" [alt]="clothe.name"></td>
      <td>{{clothe.name | lowercase }} </td>
      <td>{{clothe.type | lowercase }}</td>
      <td>{{clothe.price | currency}}</td>
      <td><span class="btn btn-warning" *ngIf="clothe.stock == 0" >Sin Stock</span> </td>
    </tr>

  </tbody>

</table>
