<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/clothes']">
          <img src="assets/img/logo.png" alt="logo clothes" width="30" height="30" class="d-inline-block align-text-top">
          {{title}}
        </a>
      </div>
    </nav>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/clothes']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a [routerLink]="['/clothes']" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a [routerLink]="['/about']" class="nav-link px-2 text-muted">About</a></li>
    <li class="nav-item"><a  [routerLink]="['/contact']" class="nav-link px-2 text-muted">Contact</a></li>
  </ul>
  <p class="text-center text-muted">&copy; {{year}} {{title}} by Florencia Vivar</p>
</footer>
