
/* General */
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  min-height: 100vh;

}
/* Footer */
footer {
  height: 60px;
  line-height: 60px;
}

.nav-link{
  font-size: x-large;
  color: whitesmoke;
  margin: 10px;
}

