.container{
  padding:1,5rem;
}
footer{
  height: 60px;
  line-height: 60px;
}

a{
  font-size: large;
  text-shadow: 2px 1px 2px rgb(246, 240, 183), 0 0 25px rgb(16, 16, 16), 0 0 5px rgb(248, 248, 248);
}

