input{
  height: 1.8em;
  width: 9em;
}
//saca flechas inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
